<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userisAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="new">New Post</a>
    </li>
    <li *ngIf="!userisAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="new">Login</a>
    </li>
    <li *ngIf="!userisAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="new">SignUp</a>
    </li>
    <li *ngIf="userisAuthenticated">
      <button mat-button (click)="onLogout()">LogOut</button>
    </li>
  </ul>
</mat-toolbar>